body {
    margin: 0;
}
.mensagem-erro {
    color: #ef4444;
    font-size: 0.85rem;
    margin-top: 4px;
    display: block;
}
.conteiner-contato {
    font-family: "Inter", sans-serif;
    font-style: normal;
    padding: 1.5rem;
    background: #F7F5F8;
}

.conteiner-contato-conteudo {
    margin-top: 5rem;
}

#texto-contato {
    font-size: 1rem;
    color: #5600B2;
}

#texto-vamos-conversar {
    font-weight: 900;
    font-size: 2.4rem;
    margin: 0;
}

#texto-bloco {
    font-size: 1.1rem;
    color: #475569;
    line-height: 1.5;
}

.conteiner-enderecos {
    margin-bottom: 3rem;
}

.conteiner-cartao {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.conteiner-cartao-icone {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-cartao h3 {
    margin: 0;
    color: #141018;
    margin-bottom: 0.2rem;
    font-size: 1rem;
}

.conteiner-cartao p {
    margin: 0;
    color: #64748B;
    font-size: 0.9rem;
}

.cartao-icone {
    height: 3rem;
}


#conteiner-formulario {
    margin-bottom: 5rem;
}

.conteiner-formulario-conteudo {
    background: white;
    border: 1px solid #E0DAE7;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 2px 5px 10px 0 rgb(226, 226, 226);
}

.conteiner-formulario-conteudo label {
    margin: 0;
    color: #334155;
    font-size: 0.8rem;
    font-weight: 700;
}

.conteiner-formulario-conteudo input {
    margin: 0;
    border: 1px solid #E0DAE7;
    border-radius: 0.5rem;
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    color: #6B7280;
}

.conteiner-campo {
    margin-bottom: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.textarea {
    width: 100%;
    border: 1px solid #E0DAE7;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    color: #6B7280;
    box-sizing: border-box;

    min-height: 140px;
    resize: vertical;
}

#formulario-botao {
    width: 100%;
    height: 3.5rem;
    border-radius: .7rem;
    border: none;
    background-color: #5600B2;
    color: white;
    font-weight: 900;
    font-size: 1rem;
    box-shadow: 2px 5px 10px 0 rgb(226, 226, 226);
    align-items: center;
    padding-block: 0;
    cursor: pointer;
    margin-bottom: 1.5rem;
}








@media (min-width: 768px) {

    .conteiner-cartao a {
        color: #64748B;
        text-decoration: none;
        font-size: 0.9rem;
    }

    .conteiner-cartao a:hover {
        color: #5600B2;
    }
    
    body {
        margin: 0;
    }

    .conteiner-contato {
        font-family: "Inter", sans-serif;
        font-style: normal;
        padding: 1.5rem;
        background: #F7F5F8;
        gap: 1rem;
        padding: 4rem 10rem;
    }

    #contato-enderecos {
        flex: 1;
    }

    .conteiner-texto {
        flex: 1;
        padding-right: 10rem;
    }

    .conteiner-contato-conteudo {
        margin-top: 5rem;
        display: flex;
    }

    #texto-contato {
        font-size: 1rem;
        color: #5600B2;
    }

    #texto-vamos-conversar {
        font-weight: 900;
        font-size: 2.4rem;
        margin: 0;
    }

    #texto-bloco {
        font-size: 1.1rem;
        color: #475569;
        line-height: 1.5;
    }

    .conteiner-enderecos {
        margin-bottom: 3rem;
    }

    .conteiner-cartao {
        display: flex;
        align-items: center;
    }

    .conteiner-cartao-icone {
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .conteiner-cartao h3 {
        margin: 0;
        color: #141018;
        margin-bottom: 0.2rem;
        font-size: 1rem;
    }

    .conteiner-cartao p {
        margin: 0;
        color: #64748B;
        font-size: 0.9rem;
    }

    .cartao-icone {
        height: 4rem;
    }

    #contato-formulario {
        flex: 1;
    }

    #conteiner-formulario {
        margin-bottom: 5rem;
        flex: 1;
    }

    .conteiner-formulario-conteudo {
        background: white;
        border: 1px solid #E0DAE7;
        border-radius: 1rem;
        padding: 2rem;
        box-shadow: 2px 5px 10px 0 rgb(226, 226, 226);
    }

    .conteiner-formulario-conteudo label {
        margin: 0;
        color: #334155;
        font-size: 0.8rem;
        font-weight: 700;
    }

    .conteiner-campo {
        margin-bottom: 1.1rem;
        display: flex;
        flex-direction: column;
        gap: .6rem;
    }

    .conteiner-formulario-conteudo input {
        margin: 0;

        border: 1px solid #E0DAE7;
        border-radius: 0.5rem;
        width: 100%;
        height: 3rem;
        padding-left: 1rem;
        box-sizing: border-box;
        font-size: 1rem;
        color: #6B7280;
    }

    .conteiner-nome-email {
        display: flex;
        gap: 1rem;
    }

    .conteiner-campo {
        flex: 1;
    }

    .textarea {
        width: 100%;
        border: 1px solid #E0DAE7;
        border-radius: 0.5rem;
        padding: 1rem;
        font-size: 1rem;
        font-family: "Inter", sans-serif;
        color: #6B7280;
        box-sizing: border-box;

        min-height: 140px;
        resize: vertical;
    }

    #formulario-botao {
        width: 100%;
        height: 3.5rem;
        border-radius: .7rem;
        border: none;
        background-color: #5600B2;
        color: white;
        font-weight: 900;
        font-size: 1rem;
        box-shadow: 2px 5px 10px 0 rgb(226, 226, 226);
        align-items: center;
        padding-block: 0;
        cursor: pointer;

        transition: 0.2s;
    }

    #formulario-botao:hover {
        background-color: #3d007e;

        transition: 0.2s;
        transform: scale(1.02)
    }

    #formulario-botao:active {
        background-color: #1f0041;
        transform: scale(0.99)
    }

@media (max-width: 900px) {

    .conteiner-contato-conteudo {

        flex-direction: column;
        gap: 40px;

    }

    .conteiner-nome-email {

        flex-direction: column;

    }

}

}